<h1>Marvelous Quiz</h1>
<p>Points: {{points}}</p>
<app-hero class="component-inline"></app-hero>
<app-form-answer class="component-inline" [pointsRecive]="points" (pointsSend)="recivePoints($event)"></app-form-answer>
<span class="ShareWhatsApp"><a href="whatsapp://send?text=Pontuacao feita foi {{points}}" target="_blank"><img src="<BaseLoja>images/IcWhatsApp.svg" width="35" height="35" border="0" alt="Recomende este produto pelo WhatsApp" title="Recomende este produto pelo WhatsApp"></a></span>